@model MvcSamples.Helpers.ViewModels.Student
@{
    ViewBag.Title = "Index";
}

<i>@Html.SayHello()</i>

<div class="well">
    @Html.YearSelector(model => model.GraduationYear, 15)
</div>

<div class="well">
    <h2>Buttons</h2>
    <hr />

    @Html.BootstrapButton()

    @Html.BootstrapButton("Hello", ButtonType.Success)

    @Html.BootstrapButton(buttonType: ButtonType.Warning, buttonSize: ButtonSize.Large)

    @Html.BootstrapButton("Who am I?", ButtonType.Danger, ButtonSize.Small)
</div>

